---
layout: base-layout.njk
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
---

<div id="posts">
  <div class="search-and-sort">
    <input type="fuzzy-search" class="search" placeholder="Search" />
    <span>Sort by:&nbsp; </span>
    <button class="sort" data-sort="name">Name</button>
  </div>

  <div class="subscribe">
    <div id="mc_embed_signup">
      <form action="https://gmail.us7.list-manage.com/subscribe/post?u=f8b2144a3cc036787718dc155&amp;id=12e3a1247b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f8b2144a3cc036787718dc155_12e3a1247b" tabindex="-1" value=""></div>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
          </div>
      </form>
    </div>
  </div>

  <ul class="list">
    {% for post in posts %}
      <li>
        <article>
          <h1>
            <a class="name" href="{{ post.url | url }}">{{ post.data.title }}</a>
          </h1>
          <div class="post-meta">
            <time class="date" datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>

            <div class="tags">{{ post.data.tags | buildTags }}</div>
          </div>

          {% excerpt post %}

          <a href="{{ post.url | url }}" aria-label="Read more on {{ post.data.title }}">Read more - {{ post.data.title | truncate}}</a>
        </article>
      </li>
    {% endfor %}
  </ul>
</div>

<script data-no-instant>

  const listOptions = {
    valueNames: ['name', 'date', 'tags']
  };

  const articleList = new List('posts', listOptions);
</script>