---
layout: base-layout.njk
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
---

<div id="posts">
  <div class="search-and-sort">
    <input type="fuzzy-search" class="search" placeholder="Search" />
    <span>Sort by:&nbsp; </span>
    <button class="sort" data-sort="name">Name</button>
    <button class="sort" data-sort="date">Date</button>
  </div>

  <ul class="list">
    {% for post in posts %}
      <li>
        <article>
          <h1>
            <a class="name" href="{{ post.url | url }}">{{ post.data.title }}</a>
          </h1>
          <time class="date" datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>

          {% excerpt post %}

          <a href="{{ post.url | url }}" aria-label="Read more on {{ post.data.title }}">Read more - {{ post.data.title | truncate}}</a>
        </article>
      </li>
    {% endfor %}
  </ul>
</div>

<script>
    const listOptions = {
      valueNames: ['name', 'date']
    };

    const articleList = new List('posts', listOptions);
</script>