<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>

  <meta name="description" content="{{ site.description }}">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:image" content="">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:image" content="">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="alternate" href="/feed.xml" title="{{ site.title }}" type="application/atom+xml">

  {%- set css -%}
    {% include "css/site.css" %}
    {% include "css/prism-atom-dark.css" %}
  {%- endset %}
  <style>
    {{ css | cssmin | safe }}
  </style>

  <script src="{{ '/script/list.min.js' }}"></script>
  <meta name="google-site-verification" content="dkTGxqYZqjVZ4HbzcX0bpZFjv8X4hyN1rI2VTBbrhJM" />
</head>
<body>
  <header>
    <a href="/">Zach Johnson</a>
  </header>

  <main>
    {{ content | safe }}
  </main>

  {# <script src="{{ '/script/index.js' | url }}" data-no-instant></script> #}
  <script src="{{ '/script/instantclick.min.js' | url }}" data-no-instant></script>
  <script data-no-instant>
    InstantClick.init(50);
  </script>
</body>
</html>
