* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 10px 8px;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  color: #232c33;
}

@media screen and (min-width: 768px) {
  body {
    max-width: 768px;
    margin: 0 auto;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically align */
  padding: 5px 16px 12px 16px;
  color: #232c33;
  border-bottom: 1px solid #81b3ff;
  border-radius: 2px;
}

header > a:link,
header > a:visited,
header > a:hover {
  color: #232c33;
  text-decoration: none;
  font-size: 24px;
}

header > a:hover {
  text-decoration: underline;
}

.link--home {
  flex-grow: 1;
  font-size: 2em;
}

.link--about {
  flex-grow: 1;
  font-size: 1em;
  text-align: right;
}

main {
  padding: 5px 16px;
  word-wrap: break-word;
}

footer {
  padding: 35px 0 25px 0;
  text-align: center;
  font-size: 0.8em;
  color: #666666;
}

h1,
h2 {
  margin: 25px 0 2px 0;
}

h1 {
  font-size: 2em;
}

h1 > a:link,
h1 > a:visited {
  text-decoration: none;
}

h1 > a:hover {
  color: #20399daa;
  text-decoration: underline;
}

h2 {
  font-size: 1.5em;
}

a:link,
a:visited {
  color: #1a2d74;
}

a:hover {
  color: #09238baa;
}

time {
  color: #666666;
}

article img {
  width: 100%;
  height: auto;
}

.sort.asc::after {
  content: "\002B06";
  padding-left: 3px;
}

.sort.desc::after {
  content: "\002B07";
  padding-left: 3px
}

ul {
  list-style-type: none;
}

.search-and-sort {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-and-sort > * {
  margin-right: 8px;
  font-size: 14px;
}

.search-and-sort button {
  border: none;
  outline: none;
  height: 24px;
  border-radius: 4px;
  min-width: 50px;
  color: #232c33;
  background-color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #81b3ff;
}

.search-and-sort input {
  height: 24px;
  width: 120px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #232323;
  color: #232c33;
  padding: 0 4px;
}