* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --blue: #172a3a;
  --blue-hl: #3a6a92;
  --black: #232c33;
  --pewter: #76949f;
  --white: #ffffff;
  --off-white: #fdfdfd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: #ffffff;
    --white: #232c33;
    --off-white: #111111;
    --blue-hl: var(--pewter);
    --blue: #3a6a92;
  }
}

body {
  margin: 0;
  padding: 10px 8px;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--black);
  background-color: var(--off-white);
}

@media screen and (min-width: 768px) {
  body {
    max-width: 768px;
    margin: 0 auto;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically align */
  padding: 5px 16px 12px 16px;
  color: var(--black);
  border-radius: 2px;
}

header > a:link,
header > a:visited,
header > a:hover {
  color: var(--black);
  text-decoration: none;
  font-size: 24px;
}

header > a:hover {
  text-decoration: underline;
}

.link--home {
  flex-grow: 1;
  font-size: 2em;
}

.link--about {
  flex-grow: 1;
  font-size: 1em;
  text-align: right;
}

main {
  padding: 5px 16px;
  word-wrap: break-word;
}

h1,
h2 {
  margin: 25px 0 2px 0;
}

h1 {
  font-size: 2em;
}

h1 > a:link,
h1 > a:visited {
  text-decoration: none;
}

h1 > a:hover {
  color: var(--blue);
  text-decoration: underline;
}

h2 {
  font-size: 1.5em;
}

a:link,
a:visited {
  color: var(--blue);
}

a:hover {
  color: var(--blue-hl);
}

time {
  color: var(--blue-hl);
  text-shadow: 0 0.2px var(--blue);
}

article img {
  width: 100%;
  height: auto;
}

.sort.asc::after {
  content: "\002B06";
  padding-left: 3px;
}

.sort.desc::after {
  content: "\002B07";
  padding-left: 3px;
}

ul {
  list-style-type: none;
}

.search-and-sort {
  margin-top: -42px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-and-sort > * {
  margin-right: 8px;
  font-size: 14px;
}

.search-and-sort button {
  border: none;
  outline: none;
  height: 24px;
  border-radius: 4px;
  min-width: 50px;
  color: var(--white);
  background-color: var(--blue-hl);
  font-size: 14px;
  cursor: pointer;
}

.search-and-sort input {
  height: 24px;
  width: 120px;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--black);
  color: var(--black);
  background-color: var(--white);
  padding: 0 4px;
}

.subscribe {
  width: 465px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 24px auto;
  transition: width 250ms ease-in-out;
  position: relative;
}

#mc_embed_signup {
  padding: 12px;
  color: var(--white);
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#mc_embed_signup form {
  width: 100%;
  height: 100%;
}

#mc_embed_signup_scroll {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#mc_embed_signup_scroll input[type="email"] {
  height: 24px;
  width: 220px;
  outline: none;
  border: none;
  color: var(--black);
  background-color: var(--white);
  padding: 0 8px;
  border: 1px solid var(--black);
}

#mc_embed_signup_scroll input[type="submit"] {
  height: 26px;
  width: 120px;
  outline: none;
  border: none;
  color: var(--white);
  background-color: var(--blue-hl);
  padding: 0 4px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

#mc_embed_signup_scroll input[type="submit"]:hover {
  background-color: var(--blue);
}

@media (max-width: 680px) {
  .search-and-sort button,
  .search-and-sort span {
    display: none;
  }

  .subscribe {
    width: 300px;
  }

  .subscribe .hide {
    right: -30px;
  }
}
